<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sobre Nosotros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <nav class="navbar  navbar-expand" style="background-color: #00c781;">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000">Boutique perla de oriente</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contacto">Contactanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/about">Acerca de nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/lte">Inicia Sesion</a>
            </li><li class="nav-item">
              <a class="nav-link active" href="/registro/">registrate</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

      
      <h1>Quienes somos?</h1>
      <p>Somo un grupo de estudiantes que ha decidido hacer un emprendimiento</p><br>
      <p>Este emprendimiento sera esta boutique la cual hemos decidido llamar</p><br>
      <p>"Perla de oriente" ya que esta ubicada en San Miguel</p><br>
    </body>
 
   