{%load static%}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boutique</title>
    <link href="{%static 'lib/bootstrap/css/bootstrap.css'%}" rel="stylesheet" >
<body>
  <script src="{%static 'lib/bootstrap/js/bootstrap.bundle.js'%}"></script>
    
    <nav class="navbar  navbar-expand" style="background-color: #00c781;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/principal"><b>Boutique</b> perla de oriente</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contacto">Contactanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">Acerca de nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/clientes">clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/pedidos">pedidos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/cerrarsesion/">cerrar sesion</a>
              </li>
       
          </div>
        </div>
      </nav>
<div align="center"><h1>Camisas de vestir</h1></div>


<table id="mostrar" class="table table-bordered table-hover">
    <thead>
      <tr>
      <th><div class="card" style="width: 20rem;">
        <img src="https://img.ltwebstatic.com/images3_pi/2022/10/22/16664083780efa71dd142836828b8056ab87032ccd_thumbnail_405x552.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Camisa de vestir negra.</p>
        </div>
      </div></th>
      <th><div class="card" style="width: 20rem;">
        <img src="https://img.ltwebstatic.com/images3_pi/2022/09/28/16643406396d4c70d8680777408927baf9d372b7c8_thumbnail_900x.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Camisa de vestir con lunares.</p>
        </div>
      </div></th>
      <th><div class="card" style="width: 20rem;">
        <img src="https://img.ltwebstatic.com/images3_pi/2022/11/01/1667266302ec08588c8940cc5ed1ee2854ddae5bcd_thumbnail_900x.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Camisa de vestir celeste con texturizado floreal.</p>
        </div>
      </div></th>
      <th><div class="card" style="width: 20rem;">
        <img src="https://img.ltwebstatic.com/images3_pi/2022/10/24/1666589552727d819eb49af07eb60a6892bb4a32b2_thumbnail_900x.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Camisa de vestir azul con rayas.</p>
        </div>
      </div></th>

    </tr>
    </thead>
    
    <table id="mostrar" class="table table-bordered table-hover">
        <thead>
          <tr>
          <th><div class="card" style="width: 25rem;">
            <img src="https://img.ltwebstatic.com/images3_pi/2020/10/13/1602576648a8331a404fdf1fbbfc9a1a1353986a8a.webp" alt="...">
            <div class="card-body">
              <p class="card-text">Camisa de vestir blanca con texturizado floral</p>
            </div>
          </div></th>
          <th><div class="card" style="width: 25rem;">
            <img src="https://img.ltwebstatic.com/images3_pi/2022/06/09/165475648226bcbf4a5cbfdb706bac76e0d5b98d6a_thumbnail_900x.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Camisa de vestir blanco con texturizado dorado</p>
            </div>
          </div></th>
          <th><div class="card" style="width: 25rem;">
            <img src="https://img.ltwebstatic.com/images3_pi/2022/08/30/1661823175cc6d76a61215eba083daae401f0289f5_thumbnail_900x.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Camisa de vestir verde.</p>
            </div>
          </div></th>
          <th><div class="card" style="width: 25rem;">
            <img src="https://img.ltwebstatic.com/images3_pi/2021/10/29/1635489959d4d73d40409597db2dd89ac4863e3878_thumbnail_900x.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Camisa de vestir marron.</p>
            </div>
          </div></th>
    
        </tr>
        </thead>
    


</body>