{%load static%}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boutique</title>
    <link href="{%static 'lib/bootstrap/css/bootstrap.css'%}" rel="stylesheet" >
<body>
  <script src="{%static 'lib/bootstrap/js/bootstrap.bundle.js'%}"></script>
    
    <nav class="navbar  navbar-expand" style="background-color: #00c781;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/principal"><b>Boutique</b> perla de oriente</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/contacto">Contactanos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/about">Acerca de nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/clientes">clientes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/pedidos">pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/cerrarsesion/">cerrar sesion</a>
                </li>
             
       
          
        
          </div>
        </div>
      </nav>
     
{% block content%}
      <div class="container text-centyer">
        <div class="row">
          <div class="col-6 ">
            <form action="/regclientes/", method="post">{% csrf_token %}
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="name1"  id="name1" placeholder="name">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">direccion</label>
                <input type="text" class="form-control" name="dic1" id="dic1" placeholder="col. example">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" name="ema1"  id="ema1"placeholder="example@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">telefono</label>
                <input type="text" class="form-control" name="tfno1" id="tfno1" placeholder="xxxxxxxx">
              </div>
              <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">agregar registro</button>
          </div>
        </form>
            <table id="mostrar" class="table table-bordered table-hover">
              <thead>
                <tr>
                <th>Nombre</th>
                <th>direccion</th>
                <th>email</th>
                <th>telefono</th>
                <th>Editar</th>
                <th>Borrar</th>
              </tr>
              </thead>
              <tbody>
                {%for cli in cliente %}
                <tr>
                  <td>{{cli.nombre}}</td>
                  <td>{{cli.direccion}}</td>
                  <td>{{cli.email}}</td>
                  <td>{{cli.tfno}}</td>
                  <td><a href="/editclientes/{{cli.id}}" class="btn btn-outline-warning">Editar</a></td>
                  <td><a href="/elimclientes/{{cli.id}}" class="btn btn-outline-danger">Eliminar</a></td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endblock %}

 



</body>