{%load static%}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boutique</title>
    <link href="{%static 'lib/bootstrap/css/bootstrap.css'%}" rel="stylesheet" >
<body>
  <script src="{%static 'lib/bootstrap/js/bootstrap.bundle.js'%}"></script>
    
    <nav class="navbar  navbar-expand" style="background-color: #00c781;">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://127.0.0.1:8000"><b>Boutique</b> perla de oriente</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contacto">Contactanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">Acerca de nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/lte">Inicia Sesion</a>
              </li><li class="nav-item">
                <a class="nav-link active" href="/registro/">registrate</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
     
        {% block content%}
      <div class="container text-centyer">
        <div class="row">
          <div class=" offset-3 col-6 ">
            <form action="/guarclientes/{{cliente.id}}", method="post">{% csrf_token %}
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="name1" value="{{cliente.nombre}}" id="name1" placeholder="name">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">direccion</label>
                <input type="text" class="form-control" name="dic1" value="{{cliente.direccion}}" id="dic1" placeholder="col. example">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
                <input type="email" class="form-control" name="ema1"  value="{{cliente.email}}" id="ema1"placeholder="example@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">telefono</label>
                <input type="text" class="form-control" name="tfno1" value="{{cliente.tfno}}" id="tfno1" placeholder="xxxxxxxx">
              </div>
              <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">actualizar registro</button>
            <a href="/clientes/" class="btn btn-outline-dark">Regresar</a>
          </div>
        </form>
        {% endblock %}

 



</body>
