{%load static%}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boutique</title>
    <link href="{%static 'lib/bootstrap/css/bootstrap.css'%}" rel="stylesheet" >
<body>
  <script src="{%static 'lib/bootstrap/js/bootstrap.bundle.js'%}"></script>
    
    <nav class="navbar  navbar-expand" style="background-color: #00c781;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/principal"><b>Boutique</b> perla de oriente</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contacto">Contactanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">Acerca de nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/clientes">clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/cerrarsesion/">cerrar sesion</a>
              </li>
       
          </div>
        </div>
      </nav>
      {% block content%}

      <div align="center"><h1>Bienvenidos a Boutique "Perla de oriente"</h1></div>
      <div align="center"><h2>¡Bienvenido {{request.user}}!</h2></div>
      
    
      <div align="center"><h2><b>Algunos de nuestros productos</b></h2></div>

      <div class="container text-centyer">
        <div class="row">
          <div class="col-6 ">
  <h2>Ropa de mujer</h2>
            <table id="mostrar" class="table table-bordered table-hover">
              <thead>
                <tr>
                <th><div class="card" style="width: 18rem;">
                  <img src="https://img.hollisterco.com/is/image/anf/KIC_359-2814-0402-210_prod1?policy=product-large" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Vestidos</h5>
                    <p class="card-text">Vestidos comodos para diferentes ocasiones</p>
                    <a href="#" class="btn btn-primary">Ver más estilos</a>
                  </div>
                </div></th>
                <th><div class="card" style="width: 18rem;">
                  <img src="https://img.hollisterco.com/is/image/anf/KIC_339-2753-0055-200_prod1?policy=product-large" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Blusas</h5>
                    <p class="card-text">Blusas comodas para diferentes ocasiones.</p>
                    <a href="#" class="btn btn-primary">Ver más estilos</a>
                  </div>
                </div></th>
                <th><div class="card" style="width: 18rem;">
                  <img src="https://img.hollisterco.com/is/image/anf/KIC_356-2150-0304-900_prod1?policy=product-large" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Pantalones</h5>
                    <p class="card-text">Pantalones diseñados para mujeres para cualquier ocasión.</p>
                    <a href="#" class="btn btn-primary">Ver más estilos</a>
                  </div>
                </div></th>
                <th><div class="card" style="width: 18rem;">
                  <img src="https://img.hollisterco.com/is/image/anf/KIC_343-2676-1849-900_prod1?policy=product-large" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Faldas</h5>
                    <p class="card-text">Variedad de falda, para distintas ocaciones .</p>
                    <a href="#" class="btn btn-primary">Ver mas estilos</a>
                  </div>
                </div></th>

              </tr>
              </thead>
            </table>
            <h2>Ropa de caballero</h2>
              <table id="mostrar" class="table table-bordered table-hover">
              <thead>
                
                <tr>
                  <th><div class="card" style="width: 18rem;">
                    <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/9b7aa99d953748a1a9c4ada9011a943b_9366/camiseta-titular-boca-juniors-21-22.jpg" class="card-img-top" alt="300">
                    <div class="card-body">
                      <h5 class="card-title">Playeras de futbol</h5>
                      <p class="card-text">Playeras de futbol de distintos equipos y selecciones, diferentes tallas </p>
                      <a href="/playerasfut/" class="btn btn-primary">Ver más estilos</a>
                    </div>
                  </div></th>
                  <th><div class="card" style="width: 18rem;">
                    <img src="https://img.hollisterco.com/is/image/anf/KIC_325-2510-2623-100_prod1?policy=product-large" class="card-img-top" alt="100 ">
                    <div class="card-body">
                      <h5 class="card-title">Camisas de vestir</h5>
                      <p class="card-text">Camisas elegantes para caballeros de diferentes marcas, colores y estilos.</p>
                      <a href="#" class="btn btn-primary">Ver estilos</a>
                    </div>
                  </div></th>
                  <th><div class="card" style="width: 18rem;">
                    <img src="https://img.hollisterco.com/is/image/anf/KIC_330-1517-1325-900_prod1?policy=product-large" class="card-img-top" alt="100">
                    <div class="card-body">
                      <h5 class="card-title">Pantalones</h5>
                      <p class="card-text">pnatalones para caballero en diferentes estilos y colores</p>
                      <a href="#" class="btn btn-primary">Ver estilos </a>
                    </div>
                  </div></th>
                  <th><div class="card" style="width: 18rem;">
                    <img src="https://img.hollisterco.com/is/image/anf/KIC_328-2670-1378-900_prod1?policy=product-large" class="card-img-top" alt="100">
                    <div class="card-body">
                      <h5 class="card-title">Shorts</h5>
                      <p class="card-text">Shorts de calidad para caballeros para diferentes ocasiones.</p>
                      <a href="#" class="btn btn-primary">Ver estilos</a>
                    </div>
                  </div></th>
                  

                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    
  </div>

      {% endblock %}

      <button class="flotante">+</button>
          
    </body>
