{%load static%}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <nav class="navbar  navbar-expand" style="background-color: #00c781;">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000">Boutique perla de oriente</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </div>
      </div>
    </nav>

    {% block content%}
<h1>Iniciar Sesion</h1>
<div class="container">
<form method="post", action="/"> {% csrf_token %}
<div class="form-group">
  <label for="input" class="col-sm-2 col-form-label">Usuario</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" name="username" id="username" >
  </div>
</div>
<div class="form-group">
  <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
  <div class="col-sm-10">
    <input type="password" class="form-control" name="password" id="password">
  </div>
</div>
<button class="btn btn-outline-success">Iniciar Sesion</button>
  <a href="/register/">¿Aun no tienes Cuenta? registrate</a>
</form>
</div>
    {% endblock %}

    
</body>
