{%load static%}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boutique</title>
    <link href="{%static 'lib/bootstrap/css/bootstrap.css'%}" rel="stylesheet" >
<body>
  <script src="{%static 'lib/bootstrap/js/bootstrap.bundle.js'%}"></script>
    
    <nav class="navbar  navbar-expand" style="background-color: #00c781;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/principal"><b>Boutique</b> perla de oriente</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contacto">Contactanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">Acerca de nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/clientes">clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/pedidos">pedidos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/cerrarsesion/">cerrar sesion</a>
              </li>
       
          </div>
        </div>
      </nav>
<div align="center"><h1>Camisas mundial 2022</h1></div>
<div align="center"><h2>por nike</h2></div>

<table id="mostrar" class="table table-bordered table-hover">
    <thead>
      <tr>
      <th><div class="card" style="width: 25rem;">
        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/828340f5-2009-45bc-8eb5-e3b6056c6f83/primera-equipacion-stadium-fff-2022-23-camiseta-de-futbol-dri-fit-jPJT2R.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Camiseta oficial de la seleccion de Francia.</p>
        </div>
      </div></th>
      <th><div class="card" style="width: 25rem;">
        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/07e86e19-0d8d-4a2d-bc92-7cdbe18c9ffd/primera-equipacion-stadium-inglaterra-2022-23-camiseta-de-futbol-dri-fit-MHdGHD.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Camiseta oficial de la seleccion de Ingletarra.</p>
        </div>
      </div></th>
      <th><div class="card" style="width: 25rem;">
        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/58f73dd8-c615-40c9-a901-a68377a52841/primera-equipacion-stadium-paises-bajos-2022-23-camiseta-de-futbol-dri-fit-CG0RF9.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Camiseta oficial de la seleccion de Paises Bajos.</p>
        </div>
      </div></th>
      <th><div class="card" style="width: 25rem;">
        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/273f3611-1f65-4226-9307-18932b279a3d/primera-equipacion-stadium-portugal-2022-23-camiseta-de-futbol-dri-fit-7Zn73h.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Camiseta oficial de la seleccion de Portugal.</p>
        </div>
      </div></th>

    </tr>
    </thead>
    
    <table id="mostrar" class="table table-bordered table-hover">
        <thead>
          <tr>
          <th><div class="card" style="width: 25rem;">
            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/a7bf8683-20d6-4e94-9572-41031b5b152a/primera-equipacion-stadium-brasil-2022-23-camiseta-de-futbol-dri-fit-msrwq9.png" alt="...">
            <div class="card-body">
              <p class="card-text">Camiseta oficial de la seleccion de Brasil.</p>
            </div>
          </div></th>
          <th><div class="card" style="width: 25rem;">
            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/10f06ae2-58d0-4f78-ada1-98b1d2f593d1/primera-equipacion-stadium-croacia-2022-23-camiseta-de-futbol-dri-fit-jpV64K.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Camiseta oficial de la seleccion de Croacia.</p>
            </div>
          </div></th>
          <th><div class="card" style="width: 25rem;">
            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/6a9c3fd7-8750-4206-823d-d22e4a79d599/primera-equipacion-stadium-usmnt-2022-23-camiseta-de-futbol-dri-fit-nfprSH.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Camiseta oficial de la seleccion de USA.</p>
            </div>
          </div></th>
          <th><div class="card" style="width: 25rem;">
            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/c910e54d-f7a5-400a-8502-07e9118ea87c/segunda-equipacion-stadium-arabia-saudita-2022-23-camiseta-de-futbol-dri-fit-sHQqsG.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Camiseta oficial de la seleccion de Araboa Saudita.</p>
            </div>
          </div></th>
    
        </tr>
        </thead>
    


</body>