{%load static%}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boutique</title>
    <link href="{%static 'lib/bootstrap/css/bootstrap.css'%}" rel="stylesheet" >
<body>
  <script src="{%static 'lib/bootstrap/js/bootstrap.bundle.js'%}"></script>
    
    <nav class="navbar  navbar-expand" style="background-color: #00c781;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/principal"><b>Boutique</b> perla de oriente</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contacto">Contactanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">Acerca de nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/clientes">clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/pedidos">pedidos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/cerrarsesion/">cerrar sesion</a>
              </li>
       
          </div>
        </div>
      </nav>
      <table id="mostrar" class="table table-bordered table-hover">
        <thead>
          <tr>
          <th><div class="card" style="width: 25rem;">
            <img src="https://img.hollisterco.com/is/image/anf/KIC_359-2407-0378-520_model1?policy=product-large" alt="...">
            <div class="card-body">
              <p class="card-text">Vestidos de lana color vino.</p>
            </div>
          </div></th>
          <th><div class="card" style="width: 25rem;">
            <img src="https://img.hollisterco.com/is/image/anf/KIC_359-2409-2103-900_model1?policy=product-large" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Vestidos de loncha negro.</p>
            </div>
          </div></th>
          <th><div class="card" style="width: 25rem;">
            <img src="https://img.hollisterco.com/is/image/anf/KIC_359-2415-2104-528_model1?policy=product-large" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Vestido de chiflon color vino.</p>
            </div>
          </div></th>
          <th><div class="card" style="width: 25rem;">
            <img src="https://img.hollisterco.com/is/image/anf/KIC_359-2450-2083-220_model1?policy=product-large" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Vestido de escote corazón.</p>
            </div>
          </div></th>
    
        </tr>
   


</body>